<div class="container text-center my-form">
<%= simple_form_for car do |f| %>
  <div class="field form-inputs">
    <div class="form-label">
      <%= f.label :brand %>
    </div>
    <%= f.text_field :brand, class: "form-control" %>
  </div>

  <div class="field form-inputs">
    <div class="form-label">
      <%= f.label :model %>
    </div>

    <%= f.text_field :model, class: "form-control"  %>
  </div>

  <div class="field form-inputs">
    <div class="form-label">
      <%= f.label :price %>
    </div>
    <%= f.number_field :price, class: "form-control"  %>
  </div>

  <div class="field form-inputs">
    <%= f.input :photo, as: :file %>
  </div>

  <div class="actions form-inputs">
    <%= f.submit "Create Car" %>
  </div>
<% end %>

</div>
<%= link_to 'Back to Cars', cars_path, class: "btn btn-secondary m-3 " %>
