<div class="container">
<%= simple_form_for car do |f| %>
  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.input :photo, as: :file %>
  </div>

  <div class="actions">
    <%= f.submit "Create Car" %>
  </div>
<% end %>

<%= link_to 'Back to Cars', cars_path %>
</div>
