
  <div class="header">
    <div class="container">
      <h1>Welcome to Rally on Rails</h1>
      <p> faster and wild </p>
    </div>
  </div>

  <div class="container">
  <% @cars.each do |car| %>
    <div class="listing-card">
      <h2><%= car.brand %></h2>
      <%= cl_image_tag car.photo.key %>
      <p><%= car.model %></p>
      <p><%= car.price %></p>
      <p><%= car.user.first_name %></p>
    <p>
          <%= button_to 'Show', car, class: "btn btn-secondary" %>
    </p>
    <p>
          <% if policy(car).edit? %>
               <%= button_to 'Edit', edit_car_path(car), class: "btn btn-secondary" %>
          <% end %>
    </p>
      <p>
         <%= button_to 'Buy this car', car_orders_path(car), method: :post, class: "btn btn-secondary"%>
      </p>
    </div>
    <% end %>

  </div>
