<h1 class="text-center">Rally on Rails</h1>

<div class="container pb-4">
  <% @cars.each do |car| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag car.photo.key, class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title text-center"> <%= "#{car.brand} #{car.model}" %></h5>
      <p class="card-text"><i class="fa-solid fa-dollar-sign"></i> Price: R$ <%= car.price %></p>
      <p class="card-text"><i class="fa-solid fa-user"></i> Owner: <%= "#{car.user.first_name} #{car.user.last_name}" %></p>
      <%= link_to 'Show', car, class: "btn btn-secondary d-grid gap-2" %>
    </div>
  </div>
  <% end %>
  </div>
