  <h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.price %></td>
        <td><%= car.user.first_name %></td>
        <td>
          <%= link_to 'Show', car %>
          <% if policy(car).edit? %>
               <%= link_to 'Edit', edit_car_path(car) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Car', new_car_path %>
