<h1 class="text-center py-3">Car Details</h1>
<div class="container">
    <div class="card-product">

      <%= render "shared/photo", locals:{photo: @car.photo} %>
      <div class="card-product-infos">
        <p><strong><i class="fa-solid fa-copyright"></i> Brand:</strong> <%= @car.brand %></p>
        <p><strong><i class="fa-solid fa-car-side"></i> Model:</strong> <%= @car.model %></p>
        <p><strong><i class="fa-solid fa-dollar-sign"></i> Price:</strong> <%= @car.price %></p>
        <p class="card-text"><i class="fa-solid fa-user"></i> Owner: <%= "#{@car.user.first_name} #{@car.user.last_name}" %></p>
        <p>
        <% if policy(@car).edit? %>
          <%= link_to 'Edit', edit_car_path(@car), class: "btn btn-secondary" %>
        <% end %>
        </p>
        <p>
        <% if policy(@car).destroy? %>
          <%= button_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        <% end %>
        </p>
        <%= link_to 'Buy this car', car_orders_path(@car), data: {turbo_method: :post}, class: "btn btn-secondary mt-4 d-grid gap-2"%>
      </div>
    </div>
</div>


<div class="text-center my-3">
<%= link_to 'Back to Cars', cars_path, class: "btn btn-secondary" %>
</div>
